.hidden {
    display: none;
}

body {
    background-size: cover;
    height: 90vh;
    background-repeat: no-repeat;
}

.container {
    display: grid;
    grid-template: "headerContainer" 2fr
                    "todoContainer" 3fr;
}

.headerContainer {
    display: grid;
    grid-area: headerContainer;
    grid-template: "clockBox titleBox weatherBox" 1fr / 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    color: #F0F8FF;
    /* backdrop-filter: blur(70px); */
}

.clockBox {
    grid-area: clockBox;
}

#clock {
    font-size: 35px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.titleBox {
    grid-area: titleBox;
}

#title {
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration:overline underline 2px;
}

#greeting {
    text-align: center;
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: initial;
}

.weatherBox {
    grid-area: weatherBox;
}

#weather {
    font-size:30px;
    font-weight: 500;
    text-decoration:wavy;
    font-family: 'Courier New', Courier, monospace;
    font-style:initial;
}

.todoContainer {
    display: grid;
    grid-area: todoContainer;
    grid-template: ". todo-form ." 1fr 
                    " . todo-list ." 10fr/ 0.6fr 1fr 0.6fr;
    backdrop-filter: blur(70px);
    margin-left: 450px;
    margin-right: 450px;
    justify-content: center;
}

#todo-form {
    grid-area: todo-form;
    text-align: center;
    align-self: center;
}

input[type=text] {
    width: 200px;
    height: 20px;
    border: 0;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

#todo-list {
    grid-area: todo-list;
}

li {
    color: #F0F8FF;
    border-bottom: 1px inset #F0F8FF;
    border-width: 3px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}